* {
    font-family: 'Roboto', sans-serif;
}
.container {
    display: flex;
    justify-content: center;
}
.boxCode{
    display: flex;
    justify-content: center;
}
.btnGenerate{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}